*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

.container{
    min-height:100vh;

    display:grid;

    grid-template-areas:
        "nav"
        "filtros"
        "main"
        "footer";

    grid-template-rows:
        70px
        100px
        1fr
        70px;
}
